.block-3 {
    background-color: black;
    color: white;
    width: 20%;
    height: 113px;
    text-align: center;
    bottom: -377px;
    position: relative;
}

.text-block-c {
    position: fixed;
    bottom: 58px;
    left: 83px;
}